{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions"
          ]
        },
        "modules": false,
        "useBuiltIns": true,
        "debug": true
      }
    ],
    "react",
    "stage-0"
  ]
}