{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions"
          ]
        },
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}